body{
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top{
    background-color: darkgray;
    margin: 0px;
    padding: 20px 50px 10px 50px;
}

.top h1{
    margin-bottom: 0px;
}

.top p{
    margin: 5px 0 25px 0;
}

form {
    text-align: center;
    padding-bottom: 20px;
}

form input{
    padding: 10px;
    margin: 10px;
    width: 90%;
}

#create-meme {
    width: 40%;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.bottom {
    padding: 20px;
    margin: 0;
}

div.memes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 20px;
}


div.meme{
    margin: 20px;
    height: 400px;
    width: 400px;
    background-color: lightgrey;
    position: relative;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    transition: opacity 0.3s ease;
}

.top-text-div{
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
}

.bottom-text-div{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}

.meme-text {
    color: white;
    letter-spacing: 2px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: 2.5em;
    margin: 10px;
    font-family: 'Anton', Arial, sans-serif;
}

div.meme:hover .delete{
    opacity: 1;
}

.delete{
    cursor: pointer;
    padding: 0px 40px;
    border: 15px solid rgb(255, 0, 0, .6);
    color: rgb(255, 0, 0, .6);
    transition: all 0.5s ease;
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

