*{
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body{
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #010402;
}

.top{
    margin: 0px;
    padding: 20px 50px 10px 50px;
}

h1{
    margin-bottom: 0px;
    color: #4bc3b5;
}

h2{
    margin-bottom: 0px;
    color: #4bc3b5;
}

.top p{
    margin: 5px 0 25px 0;
    color: #4bc3b5;
}

form {
    text-align: center;
    padding-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
}

form input{
    padding: 15px;
    margin: 5px;
    width: 100%;
    max-width: 250px;
    background-color: #010402;
    border: 1px solid #4bc3b5;
    color: #4bc3b5;
}

form input:focus{
    outline: none;
}

::placeholder {
    color: #4bc3b590;
}

.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#create-meme {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 20px 5px;
    cursor: pointer;
    border: 1px solid #4bc3b5;
    color: #eeeeee;
    background-color: #4bc3b5;
    text-transform: uppercase;
    font-size: 1em;
}

#create-meme:hover {
    border: 1px solid #4bc3b5;
    color: #4bc3b5;
    background-color: #eeeeee;
}

.bottom {
    padding: 20px;
    margin: 0px 20px 100px;
}

div.memes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 20px;
}


div.meme{
    margin: 20px;
    height: 300px;
    width: 300px;
    background-color: #eeeeee;
    border-radius: 5px;
    position: relative;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.top-text-div{
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
}

.bottom-text-div{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}

.meme-text {
    color: white;
    letter-spacing: 2px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: 2em;
    margin: 10px;
    font-family: 'Anton', Arial, sans-serif;
}

div.meme:hover .delete{
    opacity: 1;
}

.delete{
    cursor: pointer;
    padding: 2px 8px;
    border: 3px solid rgb(255, 0, 0, .7);
    border-radius: 5px;
    color: rgb(255, 0, 0, .6);
    opacity: 0;
    margin: 0;
    position: absolute;
    top: -5%;
    right: -5%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

